In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
print(df)

df.loc[df.AAA>=5,'BBB']=-1#one-column
print(df)

df.loc[df.AAA>=5,['BBB','CCC']]=555
print(df)
df.loc[df.AAA<5,['BBB','CCC']]=2000
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50
   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555
   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [9]:
df_mask=pd.DataFrame({
    'AAA':[True]*4,
    'BBB':[False]*4,
    'CCC':[True,False]*2
})
print(df_mask)
df.where(df_mask,-1000)#True 保留原始数据,False 使用新数据

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

In [19]:
# if-then-else using numpy's where()
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
print(df)
df['logic']=np.where(df['AAA']>5,'high','low')#>5 为high <=5 为low
print(df)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [22]:
#split a frame with boolean criterion
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
print(df)
dflow=df[df.AAA<=5]
print(dflow)
dfhigh=df[df['AAA']>5]
print(dfhigh)

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
1    5   20   50
   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [29]:
#Select with multi-column Criteria
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
criteria=(df['BBB']<25)&(df['CCC']>=-40)  #判断某一行是否满足?
print(criteria)
newseries=df.loc[criteria,'AAA']#获取值
print(newseries)
df.loc[(df['BBB']>25)|(df['CCC']>=75),'AAA']=0.1
print(df)

0     True
1     True
2    False
3    False
dtype: bool
0    4
1    5
Name: AAA, dtype: int64
   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [34]:
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
print(df)
aValue=0
print((df.CCC-aValue).abs().argsort())
print(df.loc[(df.CCC-aValue).abs().argsort()])

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
0    2
1    1
2    3
3    0
Name: CCC, dtype: int64
   AAA  BBB  CCC
2    6   30  -30
1    5   20   50
3    7   40  -50
0    4   10  100

In [40]:
import functools
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
print(df)
Crit1=df.AAA<=5.5
Crit2=df.BBB==10.0
Crit3=df.CCC>-40.0
#第一种方法
AllCrit=Crit1&Crit2&Crit3
print(df[AllCrit])
#第二种方法
AllCrit=functools.reduce(lambda x,y:x&y,[Crit1,Crit2,Crit3])
print(df[AllCrit])

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
0    4   10  100
   AAA  BBB  CCC
0    4   10  100

In [42]:
df[(df.AAA<=6)&(df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [9]:
data={'AAA':[4,5,6,7],'BBB':[10,20,30,40],'CCC':[100,50,-30,-50]}
df=pd.DataFrame(data=data,index=['foo','bar','boo','kar'])
print(df)
print(df.loc['bar':'kar'])
print(df.iloc[0:3])
print(df.loc['foo':'boo'])

df2=pd.DataFrame(data=data,index=[1,2,3,4])
print(df2.iloc[1:3])
print(df2.loc[1:3])

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50
     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50
     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
   AAA  BBB  CCC
2    5   20   50
3    6   30  -30
   AAA  BBB  CCC
1    4   10  100
2    5   20   50
3    6   30  -30

In [12]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40], 'CCC' : [100,50,-30,-50]})
print(df)
print(df[~((df.AAA<=6)&(df.index.isin([0,2,4])))])

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50
   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

In [21]:
#有疑问？？？
rng=pd.date_range('1/1/2017',periods=5,freq='D')
data=np.random.randn(5,4)
cols=['A','B','C','D']
df1,df2,df3=pd.DataFrame(data,rng,cols),pd.DataFrame(data,rng,cols),pd.DataFrame(data,rng,cols)
pf=pd.Panel({
    'df1':df1,
    'df2':df2,
    'df3':df3
})
print(pf.to_frame())
pf.loc[:,:,'F'] = pd.DataFrame(data, rng, cols)
print(pf[:,:,'D'])

                       df1       df2       df3
major      minor
2017-01-01 A     -0.245390 -0.245390 -0.245390
           B      0.954744  0.954744  0.954744
           C     -1.333614 -1.333614 -1.333614
           D     -1.530299 -1.530299 -1.530299
2017-01-02 A      0.480685  0.480685  0.480685
           B     -0.813736 -0.813736 -0.813736
           C     -0.472144 -0.472144 -0.472144
           D      1.686483  1.686483  1.686483
2017-01-03 A     -0.905119 -0.905119 -0.905119
           B      2.453812  2.453812  2.453812
           C     -0.165101 -0.165101 -0.165101
           D     -0.305333 -0.305333 -0.305333
2017-01-04 A     -1.459380 -1.459380 -1.459380
           B      1.544037  1.544037  1.544037
           C      0.168311  0.168311  0.168311
           D      0.251036  0.251036  0.251036
2017-01-05 A     -1.455718 -1.455718 -1.455718
           B      0.594604  0.594604  0.594604
           C      0.195403  0.195403  0.195403
           D      0.131771  0.131771  0.131771
                 df1       df2       df3
2017-01-01 -1.530299 -1.530299 -1.530299
2017-01-02  1.686483  1.686483  1.686483
2017-01-03 -0.305333 -0.305333 -0.305333
2017-01-04  0.251036  0.251036  0.251036
2017-01-05  0.131771  0.131771  0.131771

In [28]:
df = pd.DataFrame({'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]})
print(df)
source_cols=df.columns
new_cols=[str(x)+"cat" for x in source_cols]
categories={1:'Alpha',2:'Beta',3:'Charlie'}
df[new_cols]=df[source_cols].applymap(categories.get)
print(df)

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1
   AAA  BBB  CCC   AAAcat BBBcat   CCCcat
0    1    1    2    Alpha  Alpha     Beta
1    2    1    1     Beta  Alpha    Alpha
2    1    2    3    Alpha   Beta  Charlie
3    3    2    1  Charlie   Beta    Alpha

In [30]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
#将raw_grade列转化为category类型
df["grade"] = df["raw_grade"].astype("category")
print(df["grade"])
df["grade"].cat.categories = ["very good", "good", "very bad"]
print(df["grade"])

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]
0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (3, object): [very good, good, very bad]