In [3]:
import numpy as np
import pandas as pd
s=pd.Series([1,3,6,np.nan,44.1])
print(s)

dates=pd.date_range('20170101',periods=6)
print(dates)

df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
print(df)

df=pd.DataFrame(np.arange(12).reshape(3,4))
print(df)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.1
dtype: float64
DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
                   a         b         c         d
2017-01-01 -0.017155 -0.315854 -0.247946  0.192435
2017-01-02 -0.114355 -1.414538  0.988468  0.239178
2017-01-03  1.787314  0.051595 -0.488070  0.245760
2017-01-04  0.266022  0.810857 -1.814719  0.949475
2017-01-05  1.075024  1.255045 -0.428645 -0.225890
2017-01-06 -1.022899 -1.118574 -0.186927  0.370391
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [13]:
df2=pd.DataFrame({
    'A':1,
    'B':pd.Timestamp('20171121'),
    'C':pd.Series(1,index=list(range(1,5)),dtype=np.float32),
    'D':np.array([3]*4,dtype=np.int32),
    'E':pd.Categorical(["test","train","test","train"]),
    'F':'foo'
})

print(df2)
print()
print(df2.dtypes)
print()
print(df2.index)
print()
print(df2.columns)
print()
print(df2.values)
print()
print(df2.describe())#只能描述数据

   A          B    C  D      E    F
1  1 2017-11-21  1.0  3   test  foo
2  1 2017-11-21  1.0  3  train  foo
3  1 2017-11-21  1.0  3   test  foo
4  1 2017-11-21  1.0  3  train  foo

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Int64Index([1, 2, 3, 4], dtype='int64')

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

[[1 Timestamp('2017-11-21 00:00:00') 1.0 3 'test' 'foo']
 [1 Timestamp('2017-11-21 00:00:00') 1.0 3 'train' 'foo']
 [1 Timestamp('2017-11-21 00:00:00') 1.0 3 'test' 'foo']
 [1 Timestamp('2017-11-21 00:00:00') 1.0 3 'train' 'foo']]

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [18]:
print(df2.T)

                     1                    2                    3  \
A                    1                    1                    1
B  2017-11-21 00:00:00  2017-11-21 00:00:00  2017-11-21 00:00:00
C                    1                    1                    1
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     4
A                    1
B  2017-11-21 00:00:00
C                    1
D                    3
E                train
F                  foo

In [23]:
print(df2.sort_index(axis=1,ascending=False))
print(df2.sort_index(axis=0,ascending=False))
print(df2.sort_values(by='E'))

     F      E  D    C          B  A
1  foo   test  3  1.0 2017-11-21  1
2  foo  train  3  1.0 2017-11-21  1
3  foo   test  3  1.0 2017-11-21  1
4  foo  train  3  1.0 2017-11-21  1
   A          B    C  D      E    F
4  1 2017-11-21  1.0  3  train  foo
3  1 2017-11-21  1.0  3   test  foo
2  1 2017-11-21  1.0  3  train  foo
1  1 2017-11-21  1.0  3   test  foo
   A          B    C  D      E    F
1  1 2017-11-21  1.0  3   test  foo
3  1 2017-11-21  1.0  3   test  foo
2  1 2017-11-21  1.0  3  train  foo
4  1 2017-11-21  1.0  3  train  foo

In [26]:
date=pd.date_range('20170101',periods=6)
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=date,columns=['A','B','C','D'])
print(df)
print()
print(df.A)
print()
print(df['A'])

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

In [33]:
#select by loc
print(df[0:3])
print()
print(df['20170101':'20170104'])
print()
print(df.loc['20170101'])
print()
print(df.loc[:,['A','B']])
print()
print(df.loc['20170103':,['A','B']])

            A  B   C   D
2017-01-01  0  1   2   3
2017-01-02  4  5   6   7
2017-01-03  8  9  10  11

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15

A    0
B    1
C    2
D    3
Name: 2017-01-01 00:00:00, dtype: int32

             A   B
2017-01-01   0   1
2017-01-02   4   5
2017-01-03   8   9
2017-01-04  12  13
2017-01-05  16  17
2017-01-06  20  21

             A   B
2017-01-03   8   9
2017-01-04  12  13
2017-01-05  16  17
2017-01-06  20  21

In [38]:
#select by position iloc
print(df.iloc[3])
print(df.iloc[3,1])
print()
print(df.iloc[[1,3,5],1:3])

A    12
B    13
C    14
D    15
Name: 2017-01-04 00:00:00, dtype: int32
13

             B   C
2017-01-02   5   6
2017-01-04  13  14
2017-01-06  21  22

In [43]:
#mixed selection:ix   deprecated  不建议使用
print(df.ix[:3,['A','C']])

            A   C
2017-01-01  0   2
2017-01-02  4   6
2017-01-03  8  10

In [44]:
print(df[df.A<8])

            A  B  C  D
2017-01-01  0  1  2  3
2017-01-02  4  5  6  7

In [62]:
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=date,columns=['A','B','C','D'])
print(df)
print()
df.iloc[2,2]=111
df.loc['20170101','B']=2222
df.A[df.A>10]=0
df['E']=np.nan
df['F']=pd.Series([1,2,3,4,5,6],index=pd.date_range('20170101',periods=6))#index 必须和原来的相同
print(df)

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23

            A     B    C   D   E  F
2017-01-01  0  2222    2   3 NaN  1
2017-01-02  4     5    6   7 NaN  2
2017-01-03  8     9  111  11 NaN  3
2017-01-04  0    13   14  15 NaN  4
2017-01-05  0    17   18  19 NaN  5
2017-01-06  0    21   22  23 NaN  6

In [70]:
#处理丢失的数据
dates=pd.date_range('20170101',periods=6)
df=pd.DataFrame(np.arange(24).reshape(6,4),index=dates,columns=['a','b','c','d'])
print(df)
df.iloc[0,1]=np.nan
df.iloc[1,2]=np.nan
print(df.dropna(axis=1,how='any'))
print(df.dropna(axis=0,how='all'))
print(df.fillna(value=0))
print(df.isnull())
print(np.any(df.isnull()==True))

             a   b   c   d
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23
             a   d
2017-01-01   0   3
2017-01-02   4   7
2017-01-03   8  11
2017-01-04  12  15
2017-01-05  16  19
2017-01-06  20  23
             a     b     c   d
2017-01-01   0   NaN   2.0   3
2017-01-02   4   5.0   NaN   7
2017-01-03   8   9.0  10.0  11
2017-01-04  12  13.0  14.0  15
2017-01-05  16  17.0  18.0  19
2017-01-06  20  21.0  22.0  23
             a     b     c   d
2017-01-01   0   0.0   2.0   3
2017-01-02   4   5.0   0.0   7
2017-01-03   8   9.0  10.0  11
2017-01-04  12  13.0  14.0  15
2017-01-05  16  17.0  18.0  19
2017-01-06  20  21.0  22.0  23
                a      b      c      d
2017-01-01  False   True  False  False
2017-01-02  False  False   True  False
2017-01-03  False  False  False  False
2017-01-04  False  False  False  False
2017-01-05  False  False  False  False
2017-01-06  False  False  False  False
True

In [75]:
#pandas 的导入导出
df=pd.read_csv("climate.csv")
print(df)
df.to_pickle('climate.pickle')

    Day    T    TM   Tm     SLP   H    PP    VV     V    VM VG   RA   SN  TS  \
0     1  5.3   6.6  1.1  1026.3  81  0.51   5.0   4.6   7.2  -    o  NaN NaN
1     2  5.3   5.7  4.8  1025.5  95  2.03   1.8   7.2   7.2  -    o  NaN NaN
2     3  3.3   5.4  0.8  1031.3  89  7.11   5.1  11.9  14.4  -    o  NaN NaN
3     4  1.6   4.2 -0.1  1034.2  73  0.00  15.0  10.2  14.4  -    o  NaN NaN
4     5  2.1   5.6 -0.2  1029.4  75  0.00  14.0   4.6   7.2  -  NaN  NaN NaN
5     6  3.1   7.1 -0.7  1029.2  75  5.08   8.2   9.3  14.4  -    o    o NaN
6     7  0.6   1.2 -1.0  1033.1  88  1.52   6.9   8.7  14.4  -  NaN    o NaN
7     8  1.1   4.2 -1.9  1031.1  70  0.00  12.1   1.5   3.5  -  NaN  NaN NaN
8     9  2.1   4.9 -1.6  1028.2  76  0.00   6.9   5.2  10.7  -  NaN  NaN NaN
9    10  3.4   7.7 -1.5  1023.2  54  0.00  10.8   5.2   7.2  -  NaN  NaN NaN
10   11  4.9   9.8  0.1  1022.9  65  0.00   8.9   6.7  14.4  -  NaN  NaN NaN
11   12  2.7   6.9 -2.0  1029.1  55  0.00  12.4   6.7  10.7  -  NaN  NaN NaN
12   13  0.8   6.3 -3.6  1032.8  51  0.00  11.3   6.7  18.0  -  NaN  NaN NaN
13   14  0.0   4.7 -3.4  1030.9   -  0.00  14.5   5.4  10.7  -  NaN  NaN NaN
14   15  4.5  10.6 -3.1  1023.7  59  0.00  12.2   5.2  14.4  -  NaN  NaN NaN
15   16  6.4  12.1 -0.4  1023.6  60  0.00   8.7   8.3  10.7  -  NaN  NaN NaN
16   17  5.7   7.7  2.9  1024.0  87  0.00  10.8  11.9  21.7  -  NaN  NaN NaN
17   18  7.6  13.3  4.4  1022.8  80  0.00  10.0   5.7  10.7  -  NaN  NaN NaN
18   19  5.4  11.5  0.8  1025.7  78  0.00   6.9  10.7  14.4  -  NaN  NaN NaN
19   20  4.4   9.6 -0.2  1024.7  69  0.00   7.1  12.6  14.4  -  NaN  NaN NaN
20   21  9.1  14.1  0.5  1018.1  74  0.00   6.9   5.9   7.2  -    o  NaN NaN
21   22  6.0   9.2  4.3  1024.1  91  1.52   7.4   9.8  14.4  -    o  NaN NaN
22   23  2.2   5.2  0.3  1027.6  90  8.13   9.2  12.4  18.0  -    o    o NaN
23   24  0.6   2.3 -1.2  1033.0  83  0.25   8.9   5.7  10.7  -  NaN    o NaN
24   25  1.9   6.3 -2.1  1029.1  79  0.00  10.0   5.7   7.2  -  NaN  NaN NaN
25   26  4.9   9.1 -1.8  1025.1  80  0.00   9.5   7.2  14.4  -  NaN  NaN NaN
26   27  1.6   5.2 -1.8  1033.4  79  0.00   4.5  11.3  14.4  -  NaN  NaN NaN
27   28  1.2   4.4 -2.7  1031.8  65  0.00  14.2   6.7  10.7  -  NaN  NaN NaN
28   29  1.1   6.6 -4.0  1033.9  65  0.00  11.7   9.3  18.0  -  NaN  NaN NaN
29   30 -0.9   3.7 -5.0  1031.9  55  0.00  15.8   5.7  10.7  -  NaN  NaN NaN
30   31  5.4  11.5 -4.4  1022.2  55  0.00  16.3   4.1   7.2  -  NaN  NaN NaN

     FG
0   NaN
1     o
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
10  NaN
11  NaN
12  NaN
13  NaN
14  NaN
15  NaN
16  NaN
17  NaN
18  NaN
19  NaN
20  NaN
21  NaN
22  NaN
23  NaN
24  NaN
25  NaN
26  NaN
27  NaN
28  NaN
29  NaN
30  NaN

In [85]:
#concatenating
df1=pd.DataFrame(np.ones((3,4))*0,columns=['a','b','c','d'])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['a','b','c','d'])
df3=pd.DataFrame(np.ones((3,4))*2,columns=['a','b','c','d'])
print(df1)
print(df2)
print(df3)
res=pd.concat([df1,df2,df3],axis=0)
print(res)
res=pd.concat([df1,df2,df3],axis=1,ignore_index=True)
print(res)
res=pd.concat([df1,df2,df3],axis=0,ignore_index=True)
print(res)

     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
     a    b    c    d
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
     a    b    c    d
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
    0    1    2    3    4    5    6    7    8    9    10   11
0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
1  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  2.0  2.0  2.0  2.0
     a    b    c    d
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  2.0  2.0  2.0  2.0
7  2.0  2.0  2.0  2.0
8  2.0  2.0  2.0  2.0

In [100]:
df1=pd.DataFrame(np.ones((3,4))*0,columns=['A','B','C','D'],index=[1,2,3])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['B','C','D','E'],index=[1,2,3])
print(df1)
print(df2)
print(pd.concat([df1,df2]))#默认的就是outer
print(pd.concat([df1,df2],join='inner',ignore_index=True))

     A    B    C    D
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
     B    C    D    E
1  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
     A    B    C    D    E
1  0.0  0.0  0.0  0.0  NaN
2  0.0  0.0  0.0  0.0  NaN
3  0.0  0.0  0.0  0.0  NaN
1  NaN  1.0  1.0  1.0  1.0
2  NaN  1.0  1.0  1.0  1.0
3  NaN  1.0  1.0  1.0  1.0
     B    C    D
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  1.0  1.0  1.0
4  1.0  1.0  1.0
5  1.0  1.0  1.0

In [103]:
df1=pd.DataFrame(np.ones((3,4))*0,columns=['A','B','C','D'],index=[1,2,3])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['B','C','D','E'],index=[2,3,4])
print(df1)
print(df2)
print(pd.concat([df1,df2],axis=1))
print(pd.concat([df1,df2],axis=1,join_axes=[df1.index]))

     A    B    C    D
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0
     B    C    D    E
2  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
     A    B    C    D    B    C    D    E
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
4  NaN  NaN  NaN  NaN  1.0  1.0  1.0  1.0
     A    B    C    D    B    C    D    E
1  0.0  0.0  0.0  0.0  NaN  NaN  NaN  NaN
2  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0

In [109]:
#append
df1=pd.DataFrame(np.ones((3,4))*0,columns=['A','B','C','D'])
df2=pd.DataFrame(np.ones((3,4))*1,columns=['A','B','C','D'])
res=df1.append(df2,ignore_index=True)
print(res)
s=pd.Series([1,2,3,4],index=['A','B','C','D'])
print(res.append(s,ignore_index=True))

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  1.0  1.0  1.0  1.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0
6  1.0  2.0  3.0  4.0

In [113]:
left=pd.DataFrame({
    'key':['K0','K1','K2','K3'],
    'A':['A0','A1','A2','A3'],
    'B':['B0','B1','B2','B3']
})
right=pd.DataFrame({
    'key':['K0','K1','K2','K3'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']
})
print(left)
print(right)
res=pd.merge(left,right,on='key')
print(res)

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K3
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [119]:
left=pd.DataFrame({
    'key1':['K0','K1','K2','K3'],
    'key2':['K0','K0','K0','K1'],
    'A':['A0','A1','A2','A3'],
    'B':['B0','B1','B2','B3']
})
right=pd.DataFrame({
    'key1':['K0','K1','K1','K2'],
    'key2':['K0','K0','K0','K0'],
    'C':['C0','C1','C2','C3'],
    'D':['D0','D1','D2','D3']
})
print(left)
print(right)
res=pd.merge(left,right,on=['key1','key2'],how='inner') #inner 相同的部分
print(res)
res=pd.merge(left,right,on=['key1','key2'],how='outer')  #outer 以某一个为标准
print(res)
res=pd.merge(left,right,on=['key1','key2'],how='right',indicator='indicator_column')  #outer 以某一个为标准
#indicator=True  
print(res)

    A   B key1 key2
0  A0  B0   K0   K0
1  A1  B1   K1   K0
2  A2  B2   K2   K0
3  A3  B3   K3   K1
    C   D key1 key2
0  C0  D0   K0   K0
1  C1  D1   K1   K0
2  C2  D2   K1   K0
3  C3  D3   K2   K0
    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A1  B1   K1   K0  C1  D1
2  A1  B1   K1   K0  C2  D2
3  A2  B2   K2   K0  C3  D3
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K1   K0   C1   D1
2  A1  B1   K1   K0   C2   D2
3  A2  B2   K2   K0   C3   D3
4  A3  B3   K3   K1  NaN  NaN
    A   B key1 key2   C   D indicator_column
0  A0  B0   K0   K0  C0  D0             both
1  A1  B1   K1   K0  C1  D1             both
2  A1  B1   K1   K0  C2  D2             both
3  A2  B2   K2   K0  C3  D3             both