In [3]:
import numpy as np
import pandas as pd
s=pd.Series([1,3,6,np.nan,44.1])
print(s)

dates=pd.date_range('20170101',periods=6)
print(dates)

df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
print(df)

df=pd.DataFrame(np.arange(12).reshape(3,4))
print(df)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.1
dtype: float64
DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
                   a         b         c         d
2017-01-01 -0.017155 -0.315854 -0.247946  0.192435
2017-01-02 -0.114355 -1.414538  0.988468  0.239178
2017-01-03  1.787314  0.051595 -0.488070  0.245760
2017-01-04  0.266022  0.810857 -1.814719  0.949475
2017-01-05  1.075024  1.255045 -0.428645 -0.225890
2017-01-06 -1.022899 -1.118574 -0.186927  0.370391
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [13]:
df2=pd.DataFrame({
    'A':1,
    'B':pd.Timestamp('20171121'),
    'C':pd.Series(1,index=list(range(1,5)),dtype=np.float32),
    'D':np.array([3]*4,dtype=np.int32),
    'E':pd.Categorical(["test","train","test","train"]),
    'F':'foo'
})

print(df2)
print()
print(df2.dtypes)
print()
print(df2.index)
print()
print(df2.columns)
print()
print(df2.values)
print()
print(df2.describe())#只能描述数据

   A          B    C  D      E    F
1  1 2017-11-21  1.0  3   test  foo
2  1 2017-11-21  1.0  3  train  foo
3  1 2017-11-21  1.0  3   test  foo
4  1 2017-11-21  1.0  3  train  foo

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Int64Index([1, 2, 3, 4], dtype='int64')

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

[[1 Timestamp('2017-11-21 00:00:00') 1.0 3 'test' 'foo']
 [1 Timestamp('2017-11-21 00:00:00') 1.0 3 'train' 'foo']
 [1 Timestamp('2017-11-21 00:00:00') 1.0 3 'test' 'foo']
 [1 Timestamp('2017-11-21 00:00:00') 1.0 3 'train' 'foo']]

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [18]:
print(df2.T)

                     1                    2                    3  \
A                    1                    1                    1
B  2017-11-21 00:00:00  2017-11-21 00:00:00  2017-11-21 00:00:00
C                    1                    1                    1
D                    3                    3                    3
E                 test                train                 test
F                  foo                  foo                  foo

                     4
A                    1
B  2017-11-21 00:00:00
C                    1
D                    3
E                train
F                  foo

In [23]:
print(df2.sort_index(axis=1,ascending=False))
print(df2.sort_index(axis=0,ascending=False))
print(df2.sort_values(by='E'))

     F      E  D    C          B  A
1  foo   test  3  1.0 2017-11-21  1
2  foo  train  3  1.0 2017-11-21  1
3  foo   test  3  1.0 2017-11-21  1
4  foo  train  3  1.0 2017-11-21  1
   A          B    C  D      E    F
4  1 2017-11-21  1.0  3  train  foo
3  1 2017-11-21  1.0  3   test  foo
2  1 2017-11-21  1.0  3  train  foo
1  1 2017-11-21  1.0  3   test  foo
   A          B    C  D      E    F
1  1 2017-11-21  1.0  3   test  foo
3  1 2017-11-21  1.0  3   test  foo
2  1 2017-11-21  1.0  3  train  foo
4  1 2017-11-21  1.0  3  train  foo

In [26]:
date=pd.date_range('20170101',periods=6)
df=pd.DataFrame(np.arange(24).reshape((6,4)),index=date,columns=['A','B','C','D'])
print(df)
print()
print(df.A)
print()
print(df['A'])

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int32

In [33]:
#select by loc
print(df[0:3])
print()
print(df['20170101':'20170104'])
print()
print(df.loc['20170101'])
print()
print(df.loc[:,['A','B']])
print()
print(df.loc['20170103':,['A','B']])

            A  B   C   D
2017-01-01  0  1   2   3
2017-01-02  4  5   6   7
2017-01-03  8  9  10  11

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15

A    0
B    1
C    2
D    3
Name: 2017-01-01 00:00:00, dtype: int32

             A   B
2017-01-01   0   1
2017-01-02   4   5
2017-01-03   8   9
2017-01-04  12  13
2017-01-05  16  17
2017-01-06  20  21

             A   B
2017-01-03   8   9
2017-01-04  12  13
2017-01-05  16  17
2017-01-06  20  21

In [38]:
#select by position iloc
print(df.iloc[3])
print(df.iloc[3,1])
print()
print(df.iloc[[1,3,5],1:3])

A    12
B    13
C    14
D    15
Name: 2017-01-04 00:00:00, dtype: int32
13

             B   C
2017-01-02   5   6
2017-01-04  13  14
2017-01-06  21  22

In [43]:
#mixed selection:ix   deprecated  不建议使用
print(df.ix[:3,['A','C']])

            A   C
2017-01-01  0   2
2017-01-02  4   6
2017-01-03  8  10

In [44]:
print(df[df.A<8])

            A  B  C  D
2017-01-01  0  1  2  3
2017-01-02  4  5  6  7